body {
  margin: 0;
  font-family: "Google Sans", arial, sans-serif;
  color: white;
  min-height: 100vh;
  background-color: #111;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  display: none;
  padding: 0;
  margin: 0;
}

.menubar {
  position: top;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  padding: 10px 0;
  text-align: center;
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
}

.menu-item:hover {
  opacity: 1;
}

.title {
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}

.download_frame_parent {
  background-image: url(images/bg.webp);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 20px;
}

.download_frame {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

.download_title {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 600;
  font-size: 3.75rem;
}

.download_button {
  color: inherit;
  max-width: 600px;
  margin-top: 10px;
  background-color: DodgerBlue;
  border: 3px solid rgba(255, 255, 255, 0.678);
  border-radius: 5px;
  padding: 12px 30px;
  font-size: 25px;
  margin: 10px;
  text-align: center;
  width: 180px;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px black;
  transition: transform 0.5s, opacity 0.3s, box-shadow 0.3s;
}

.download_button:hover {
  cursor: pointer;
}

.platform_img {
  max-width: 75px;
  max-height: 75px;
  margin-top: 10px;
}

.download_button:hover {
  opacity: 0.8;
  background-color: green;
}

.txt {
  font-size: 20.5px;
  margin-bottom: 5px;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: inherit;
  font-size: inherit;
  font-weight: bold;
}

.subheading {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
}
.profile_pic {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.form-container {
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #333333;
  color: white;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.submit {
  background-color: royalblue;
  font-size: 25px;
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.678);
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Google Sans", arial, sans-serif;
}

.submit:hover {
  opacity: 0.8;
}

.label {
  font-size: 25px;
  margin-bottom: 5px;
  text-align: left;
}

.label:hover {
  color: white;
}

pre {
  background-color: #121111;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}
code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.bg-img {
  display: block;
  width: 100%;
  height: auto;
}
